*{
	margin: 0;
	padding: 0;
}

[v-cloak] {
	display: none;
}

body {
	font-family: 'Open Sans', sans-serif;

}

nav{
	background-color: #5597b4;
	margin: 60px auto 45px;
	text-align: center;
	width: 100%;


}

nav a{
	color: #fff;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 2px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 30px;
	padding-left: 30px;
	text-transform: uppercase;
	text-decoration: none !important;

}

#message p{
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}

#message p b {

	text-transform: uppercase;
}

nav.home .home,
nav.projects .projects,
nav.services .services,
nav.contact .contact,
nav.blog .blog{
	background-color: #e35885;
}






